@import "tailwindcss";

@theme {
  --color-history-red: #f22143;
  --color-history-black: #0a1f34;

  --color-button-red-center: #ed0011;
  --color-button-red-edge: #ba000c;
  --color-button-red-highlight: #da4f51;

  --color-button-yellow-center: #daa254;
  --color-button-yellow-edge: #c4872e;
  --color-button-yellow-highlight: #e4b165;

  --color-button-black-center: #171616;
  --color-button-black-edge: #000000;
  --color-button-black-highlight: #333029;

  --color-golden-yellow: #fb9c23;

  --color-light-blue-center: #1e4fac;
  --color-light-blue-edge: #3b5097;

  --color-button-blue: #194eae;
  --color-button-blue-highlight: #476eb4;

  --color-dark-blue: #193e86;
  --color-darker-blue: #23386e;

  --font-primary: "Roboto", "sans-serif";
}
